h3 {
    margin:0px;
}

.login-form {
    margin:0px;
    height: 100%;
    width: 100%;
    background-color: rgb(242,243,247);
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text {
    margin: 40px;
    font-family: monospace;
    font-weight: 100;
    font-size: 38px;
    color: rgb(51,51,51);
    border-bottom: 2px solid rgb(124,99,176);
}

.login-box {
    height: 425px;
    max-height: 425px;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(214, 214, 214);
    padding: 30px;
}

.errors-container {
    height: 50px;
    margin-bottom:-55px;
}

.errors-container2 {
    height: 90px;
    margin-bottom:-55px;
}

.ind-error {
    color: rgb(241,80,110);
    background-color: rgb(254,244,246);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.email-input-container {
    display: flex;
    flex-direction: column;
}

.email-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: rgb(51,51,51)
}

.email-input {
    height: 30px;
    border: 1px solid rgb(219, 219, 219);
}

.password-input-container {
    display: flex;
    flex-direction: column;
}

.password-text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: rgb(51,51,51)
}

.password-input {
    height: 30px;
    border: 1px solid rgb(219, 219, 219);
}

.login-button {
    height: 40px;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
    border: 1px solid rgb(138,116,185);
    background-color: rgb(138,116,185);;
}

.login-button:hover {
    background-color: rgb(124,99,176);
    cursor: pointer;
}

.hyperlinks-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signup-button {
    font-family:monospace;
    font-size: 17px;
    color:rgb(0, 176, 231);
    padding-right: 10px;
    margin-left: 10px;
    border-right: 2px solid rgb(124,99,176);
}

.demo-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: monospace;
    font-size: 17px;
    color:rgb(0, 176, 231);
    margin-right: 10px;
    margin-left: 10px;
}
